:root {
  --primary-color: #f5f2e6;
  --secondary-color: #decd77;
  --third-color: #272413;
  --background-color: #565656;
  --accent-color: #d55e64;
  --disabled-color: grey;
  --button-radius: 20px;
  --text-color: white;
}

/* Rest of the CSS code */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #3d3d3d; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent-color); /* color of the scroll thumb */
  border: 2px solid #3d3d3d; /* outline style */
  border-radius: 20px; /* roundness of the scroll thumb */
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: Nunito, Inter;
  font-variant-numeric: tabular-nums;
  height: 100vh;
  margin: 0rem;
  padding: 0.25rem;
}

.main-container {
  display: flex;
  height: 99vh;
  margin: 0rem;
}

main {
  background: url("/blob-scene-mobile.svg") no-repeat center center;
  background-size: cover;
  border: 5px solid var(--secondary-color);
  border-radius: var(--button-radius);
  display: flex;
  flex-direction: column;
  padding: var(--button-radius);
  position: relative;
}

main.start-game {
  background: url("/pattern-bg.svg") repeat left center;
  background-size: contain;
}

.position-up {
  margin-top: -1rem;
}

.error-fetch {
  backdrop-filter: blur(100px);
  border-radius: var(--button-radius);
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: fit-content;
  padding: 0.25rem 1rem;
}

.button-reset {
  background-color: #9e4d54;
  border: none;
  border-radius: var(--button-radius);
  color: var(--text-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 1rem;
}

.button-reset-hidden {
  display: none;
}

.button-reset-disabled {
  background-color: var(--disabled-color);
  border: none;
  border-radius: var(--button-radius);
  color: var(--text-color);
  cursor: not-allowed;
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 1rem;
}

.button-reset-disabled:hover {
  cursor: not-allowed;
  outline: none;
}

.reset-tag:hover {
  background-color: #9e4d54;
  border-radius: var(--button-radius);
  color: var(--text-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 1rem;
  outline: 1px solid var(--third-color);
  padding: 0 0.5rem 0.2rem 0.5rem;
}

.reset-tag:active {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.space {
  margin-left: var(--button-radius);
}

hr {
  border: none;
  margin: 1rem 0;
}

button:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.button-mute {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.button-mute:active {
  box-shadow: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.button-disabled:hover {
  cursor: not-allowed;
  outline: 1px solid #a1a9cc;
}

button {
  font-family: Nunito, Inter;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
}

button:active {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  outline: 2px solid var(--accent-color);
}

.title-choice {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: -1rem;
}

.header-choice {
  color: var(--primary-color);
  font-size: 1.25rem;
  text-align: center;
}

.header-num {
  background-color: var(--accent-color);
  border-radius: 100%;
  color: white;
  font-size: 1.25rem;
  padding: 0 0.5rem 0 0.45rem;
  text-align: center;
}

.button-choice {
  background-color: var(--secondary-color);
  border: transparent;
  border-radius: var(--button-radius);
  color: var(--background-color);
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button-answer {
  background-color: #679e4d;
  border: transparent;
  border-radius: var(--button-radius);
  color: var(--primary-color);
  cursor: pointer;

  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button-wrong {
  background-color: #9e4d54;
  border: none;
  border-radius: var(--button-radius);
  color: var(--primary-color);
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button-selected {
  background-color: var(--third-color);
  border: none;
  border-radius: var(--button-radius);
  color: var(--secondary-color);
  cursor: pointer;
  margin-top: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
}

.button-disabled {
  background-color: var(--disabled-color);
  border: none;
  border-radius: var(--button-radius);
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button-disabled-end {
  background-color: transparent;
  border: none;
  border-radius: var(--button-radius);
  color: #8f94af;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  outline: 1px solid #a1a9cc;
  padding: 0.5rem 1rem;
}

.button-disabled-end:hover {
  cursor: not-allowed;
}

main.new-game {
  align-items: center;
  justify-content: center;
  margin: auto auto;
}

main.new-game > h1 {
  color: var(--primary-color);
  text-align: center;
}

main.new-game > p {
  text-align: center;
}

.button-refresh {
  background-color: #9e4d54;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button-new-game {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  color: var(--third-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button-new-game:hover {
  outline: 3px solid #d55e64;
}
.button-restart {
  align-self: center;
  background-color: #9e4d54;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 200px;
}

.button-calculate {
  align-self: center;
  background-color: #679e4d;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;

  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 200px;
}

.button_choice_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.total-score {
  color: var(--primary-color);
  margin-bottom: 0;
  margin-top: 2rem;
  text-align: center;
}

.error-fetch {
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.p-music {
  color: var(--text-color);
  font-size: 0.7rem;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: right;
}

.p-new-game {
  color: var(--text-color);
  font-size: 1.25rem;
}

.loader {
  bottom: 1rem;
  left: 1rem;
  position: absolute;
}

form {
  font-family: Nunito, Inter;
  font-variant-numeric: tabular-nums;
  margin: 1rem auto;
}

select {
  font-family: Nunito, Inter;
  font-size: 1rem;
  font-variant-numeric: tabular-nums;
}

.form-label {
  color: var(--text-color);
}

.p-url {
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7rem;
  margin-bottom: 0;
}

.span-form {
  background-color: var(--accent-color);
  border-radius: 8px;
  color: var(--text-color);
  font-size: 0.75rem;
  padding: 0 0.5rem 0 0.45rem;
  text-align: center;
}

.span-url {
  background-color: var(--secondary-color);
  border-radius: 8px;
  color: var(--third-color);
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0 0.5rem 0 0.45rem;
  text-align: center;
}

.span-url:hover {
  cursor: pointer;
  outline: 2px solid var(--accent-color);
}

@keyframes blink {
  0%,
  100% {
    background-color: var(--accent-color);
  }
  50% {
    background-color: var(--secondary-color);
  }
}

.span-timer {
  background-color: var(--secondary-color);
  border-radius: 8px;
  color: var(--third-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0.5rem 0 0.45rem;

  position: fixed;
  right: 10px;
  top: 60px;
}

.blink {
  animation: blink 1s linear infinite; /* Apply the blinking animation */
}

.span_data_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.h2-subtitle {
  color: var(--primary-color);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .p-url {
    font-size: 1rem;
  }

  .p-music {
    font-size: 1rem;
  }

  .span-form {
    font-size: 1rem;
  }

  .span-url {
    font-size: 1rem;
  }

  .header-choice {
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: center;
  }

  button {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .p-url {
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
  }
}
